<%= render 'layouts/header' %>

<div class="flex flex-col md:w-2/3 lg:w-1/2 w-full mx-auto mt-24 mb-10 p-6 min-h-[70vh] mt-24">
  <h2 class="text-3xl font-semibold text-gray-700 mb-4">Payment</h2>
  <p class="text-sm text-gray-500 mb-6">All transactions are secure and encrypted.</p>

  <div class="flex flex-row justify-between">
    <div class="mb-4">
      <label class="inline-flex items-center">
        <span class="ml-2">Credit card</span>
      </label>
    </div>

    <div id="credit-card-icons" class="flex justify-end space-x-2 mb-4">
      <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/0169695890db3db16bfe.svg" alt="Visa" class="h-6">
      <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/ae9ceec48b1dc489596c.svg" alt="Master" class="h-6">
      <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/f11b90c2972f3811f2d5.svg" alt="AMEX" class="h-6">
      <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/aa9f2b5de4dc7ce12bc7.svg" alt="JCB" class="h-6">

    </div>
  </div>

  <form id="payment-form" action="/payments" method="post" class="space-y-4">
    <input type="hidden" name="order_id" value="<%= params[:order_id] %>">
    <div id="card-element" class="p-4 bg-gray-100 rounded shadow-inner">
      <!-- Stripe Elements will be inserted here -->
    </div>
    <div id="card-errors" role="alert" class="text-red-500 text-sm"></div>
    <button type="submit" id="submit-button" class="w-full bg-[#CDAC90] hover:bg-[#B68256] text-white font-semibold py-2 px-4 rounded">
      Pay Now
    </button>
  </form>
</div>

<%= render 'layouts/footer' %>



<script>
document.addEventListener('DOMContentLoaded', function () {
  var stripe = Stripe('pk_test_51P1hSWHPbbqvlXcn4ARNis4STeDV3Wq3a0hLD4piwcRQLQNLZpnC6Hqjwt3oHgH7gFE3RXrD4IOCQx1KcMnnkpMy00mywx5l5r');
  var elements = stripe.elements();
  var card = elements.create('card');
  card.mount('#card-element');

  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        stripeTokenHandler(result.token);
      }
    });
  });
});

function stripeTokenHandler(token) {
  var form = document.getElementById('payment-form');
  var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  var csrfHiddenInput = document.createElement('input');
  csrfHiddenInput.setAttribute('type', 'hidden');
  csrfHiddenInput.setAttribute('name', 'authenticity_token');
  csrfHiddenInput.setAttribute('value', csrfToken);
  form.appendChild(csrfHiddenInput);

  form.submit();
}
</script>
