<%= render 'layouts/header' %>

<div class="mt-14 min-h-[70vh] w-[80%] mx-auto grid grid-cols-2">
  <div class="self-center">
    <h1 class="text-5xl font-bold">Payment Successful</h1>

    <p class="mt-10 mb-10">Your payment has been processed successfully.</p>

    <%= link_to 'Return to Home', root_path, class:"w-full bg-[#CDAC90] hover:bg-[#B68256] text-white font-semibold py-2 px-4 rounded"%>

  </div>
  <%= image_tag 'success.svg', alt: "Thank you for your order."%>
</div>

<%= render 'layouts/footer' %>
